.profile-content {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile figure img {
  width: 200px;
  max-width: 400px;
}

.topicAndDelete {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.profileArticlesHeader {
  font-size: 1.1rem;
  text-decoration: none;
  padding-left: 40px;
}
