@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

[contenteditable] {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: 300px;
  height: 100%;
  width: 100%;
  cursor: text;
}
